#clock{
    width: 40vw;
    height: 40vw;
    margin: auto;
    background : url(../data/clock.png);
    background-size: 100%;
}
#hour{
    position: relative;
    height: 25%;
    width: 2%;
    top: 25%;
    left: 49.45%;
    background-color: blue;
    border-radius: 9px;
    transform-origin: bottom;
    /* visibility: hidden; */
}
#minute{
    position: relative;
    height: 32%;
    width: 1.5%;
    top: -7%;
    left: 49.5%;
    background-color: green;
    border-radius: 9px;
    transform-origin: bottom;
    /* visibility: hidden; */
}
#second{
    position: relative;
    height: 42%;
    width: 1%;
    top: -49%;
    left: 49.85%;
    background-color:red;
    border-radius: 9px;
    transform-origin: bottom;
    /* visibility: hidden; */
}